@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
:root {
    --site-font-family: "Arboreto", cursive;
    --site-font-size-sm: 12px;
    --site-font-size-md: 16px;
    --site-font-size-lg: 30px;
}

html, body {
    margin:0;
    padding:0;
    font-family: var(--site-font-family);
    display: flex;
    flex-direction: column;
    
}

.main-container {
    width: 100vw;
    height: 100vh;
}